@{
    ViewData["Title"] = "Home Page";
}

<h1 style="text-align: justify;">Desafio T&eacute;cnico .NET</h1>
<h2 style="text-align: justify;"><a id="user-content-objetivo" class="anchor" href="https://github.com/Marlohn/LogChallenge/tree/develop#objetivo" aria-hidden="true"></a>OBJETIVO</h2>
<p style="text-align: justify;">Escrever uma aplica&ccedil;&atilde;o .NET que tenha como objetivo, fazer upload de arquivo de log e popular o banco de dados. Para isso ser&aacute; necess&aacute;rio uma tela onde o usu&aacute;rio possa listar/consultar/pesquisar logs, e uma segunda tela que possibilite ao usu&aacute;rio a inser&ccedil;&atilde;o manual de um arquivo de log. Implementar o back-end com (ASP .NET Core) e front-end usando JavaScript, AJAX, JQuery, HTML5, CSS3 ou Angular (Se for em angular, preferencialmente acima do 6).</p>
<h2 style="text-align: justify;"><a id="user-content-detalhes-do-back-end" class="anchor" href="https://github.com/Marlohn/LogChallenge/tree/develop#detalhes-do-back-end" aria-hidden="true"></a>DETALHES DO BACK-END</h2>
<p style="text-align: justify;"><strong>Abaixo os requisitos necess&aacute;rios para o desenvolvimento:</strong></p>
<ul style="text-align: justify;">
    <li>Definir o modelo de dados no PostgreSQL.</li>
    <li>Definir servi&ccedil;os para a inser&ccedil;&atilde;o em batch(usando o arquivo de logs fornecido).</li>
    <li>Definir servi&ccedil;os para inser&ccedil;&atilde;o de logs manuais(CRUD).</li>
    <li>Implementar filtros ou pesquisas de logs.</li>
    <li>Testes Unit&aacute;rios.</li>
</ul>
<p style="text-align: justify;"><em>OBS: Aplicar as boas pr&aacute;ticas de programa&ccedil;&atilde;o: o Modelagem em camada. o Programa&ccedil;&atilde;o defensiva. o Tipagem de dados adequada para o banco de dados.</em></p>
<h2 style="text-align: justify;"><a id="user-content-detalhes-do-front-end" class="anchor" href="https://github.com/Marlohn/LogChallenge/tree/develop#detalhes-do-front-end" aria-hidden="true"></a>DETALHES DO FRONT-END</h2>
<p style="text-align: justify;"><strong>Abaixo os requisitos necess&aacute;rios para o desenvolvimento:</strong></p>
<ul style="text-align: justify;">
    <li>Tela para inser&ccedil;&atilde;o de logs manuais (CRUD).</li>
    <li>Tela para inser&ccedil;&atilde;o de logs usando o arquivo modelo.</li>
    <li>(B&Ocirc;NUS) Tela para buscar logs feitos por um determinado IP, por hora, user-agent (agrega&ccedil;&atilde;o).</li>
</ul>
<h2 style="text-align: justify;"><a id="user-content-exemplos-do-arquivo-de-log" class="anchor" href="https://github.com/Marlohn/LogChallenge/tree/develop#exemplos-do-arquivo-de-log" aria-hidden="true"></a>EXEMPLOS DO ARQUIVO DE LOG:</h2>
<ul style="text-align: justify;">
    <li><a href="https://github.com/Marlohn/LogChallenge/blob/develop/extras/sample.log">Link do arquivo</a></li>
</ul>
<h2 style="text-align: justify;"><a id="user-content-requisitos-de-entrega" class="anchor" href="https://github.com/Marlohn/LogChallenge/tree/develop#requisitos-de-entrega" aria-hidden="true"></a>REQUISITOS DE ENTREGA</h2>
<ul>
    <li style="text-align: justify;">
        O c&oacute;digo deve ser disponibilizado em um reposit&oacute;rio p&uacute;blico, nas seguintes op&ccedil;&otilde;es:
        <ul>
            <li>Gitlab</li>
            <li>Github</li>
            <li>Bitbucket</li>
        </ul>
    </li>
    <li style="text-align: justify;">O c&oacute;digo deve estar dispon&iacute;vel at&eacute; 23:59 do dia final do prazo;</li>
    <li style="text-align: justify;">A aplica&ccedil;&atilde;o deve estar compilando e livre de bugs;</li>
    <li style="text-align: justify;">Disponibilizar um arquivo readme.txt, contendo uma documenta&ccedil;&atilde;o simplificada, com instru&ccedil;&otilde;es sobre compila&ccedil;&atilde;o, ambiente, coment&aacute;rios sobre o desenvolvimento, l&oacute;gica e padr&otilde;es utilizados, al&eacute;m de outros dados que considere relevante.</li>
</ul>